/* Container for the login form */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* General styles for the form */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Flexbox layout for form groups */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Styling labels */
.label {
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

/* Styling textboxes */
.textbox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;
}

.textbox:focus {
    border-color: #4CAF50;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.textbox::placeholder {
    color: #888;
    font-style: italic;
}

/* Styling the button */
.button {
    padding: 10px 20px;
    background-color: #46ad49;
    color: rgb(85, 51, 208);
    margin: 5px;
    height: 50;
    width: 100;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #30CFD0, #330867);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button i {
    margin-right: 5px;
}

.label {
    color: #ffffff;
    background: linear-gradient(to right, #30CFD0, #330867);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.label:hover {
    background-color: #45a049; /* Darker green */
    cursor: pointer;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
}
/* Container for the entire app */
.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

/* Styling for the banner */
.banner {
    background-color: #330867;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the header text */
.banner h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Styling for the welcome GIF */
.welcome-gif {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main content styling */
main {
    padding: 20px;
}

/* Other styles for the form, buttons, etc. */
